<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjrac.organization.dao.CourseApplicationMapper">
  <resultMap id="BaseResultMap" type="com.tjrac.organization.pojo.CourseApplication">
    <id column="course_application_id" jdbcType="INTEGER" property="courseApplicationId" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="course_application_result" jdbcType="INTEGER" property="courseApplicationResult" />
    <result column="course_application_type" jdbcType="INTEGER" property="courseApplicationType" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_course_application
    where course_application_id = #{courseApplicationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tjrac.organization.pojo.CourseApplication">
    insert into tb_course_application (course_application_id, course_id, student_id,
      course_application_result, course_application_type
      )
    values (#{courseApplicationId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER},
      #{courseApplicationResult,jdbcType=INTEGER}, #{courseApplicationType,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tjrac.organization.pojo.CourseApplication">
    update tb_course_application
    set course_id = #{courseId,jdbcType=INTEGER},
      student_id = #{studentId,jdbcType=INTEGER},
      course_application_result = #{courseApplicationResult,jdbcType=INTEGER},
      course_application_type = #{courseApplicationType,jdbcType=INTEGER}
    where course_application_id = #{courseApplicationId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select course_application_id, course_id, student_id, course_application_result, course_application_type
    from tb_course_application
    where course_application_id = #{courseApplicationId,jdbcType=INTEGER}
  </select>
  <select id="selectByCourseId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select course_application_id, course_id, student_id, course_application_result, course_application_type
    from tb_course_application
    where course_id = #{courseId,jdbcType=INTEGER}
  </select>
  <select id="selectByStudentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select course_application_id, course_id, student_id, course_application_result, course_application_type
    from tb_course_application
    where student_id = #{studentId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select course_application_id, course_id, student_id, course_application_result, course_application_type
    from tb_course_application
  </select>
</mapper>