<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjrac.organization.dao.OrganizationStudentMapper">
  <resultMap id="BaseResultMap" type="com.tjrac.organization.pojo.OrganizationStudent">
    <id column="organization_student_id" jdbcType="INTEGER" property="organizationStudentId" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_organization_student
    where organization_student_id = #{organizationStudentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tjrac.organization.pojo.OrganizationStudent">
    insert into tb_organization_student (organization_student_id, organization_id, 
      student_id)
    values (#{organizationStudentId,jdbcType=INTEGER}, #{organizationId,jdbcType=INTEGER}, 
      #{studentId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tjrac.organization.pojo.OrganizationStudent">
    update tb_organization_student
    set organization_id = #{organizationId,jdbcType=INTEGER},
      student_id = #{studentId,jdbcType=INTEGER}
    where organization_student_id = #{organizationStudentId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select organization_student_id, organization_id, student_id
    from tb_organization_student
    where organization_student_id = #{organizationStudentId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select organization_student_id, organization_id, student_id
    from tb_organization_student
  </select>
</mapper>