<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjrac.organization.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.tjrac.organization.pojo.Student">
    <id column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="student_number" jdbcType="INTEGER" property="studentNumber" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
    <result column="student_gender" jdbcType="VARCHAR" property="studentGender" />
    <result column="student_tel" jdbcType="VARCHAR" property="studentTel" />
    <result column="student_age" jdbcType="VARCHAR" property="studentAge" />
    <result column="student_qq" jdbcType="VARCHAR" property="studentQq" />
    <result column="student_wechat" jdbcType="VARCHAR" property="studentWechat" />
    <result column="student_major" jdbcType="VARCHAR" property="studentMajor" />
    <result column="student_department" jdbcType="VARCHAR" property="studentDepartment" />
    <result column="student_user_id" jdbcType="INTEGER" property="studentUserId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_student
    where student_id = #{studentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tjrac.organization.pojo.Student">
    insert into tb_student (student_id, student_number, student_name,
      student_gender, student_tel, student_age,
      student_qq, student_wechat, student_major,
      student_department, student_user_id)
    values (#{studentId,jdbcType=INTEGER}, #{studentNumber,jdbcType=INTEGER}, #{studentName,jdbcType=VARCHAR},
      #{studentGender,jdbcType=VARCHAR}, #{studentTel,jdbcType=VARCHAR}, #{studentAge,jdbcType=VARCHAR},
      #{studentQq,jdbcType=VARCHAR}, #{studentWechat,jdbcType=VARCHAR}, #{studentMajor,jdbcType=VARCHAR},
      #{studentDepartment,jdbcType=VARCHAR}, #{studentUserId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tjrac.organization.pojo.Student">
    update tb_student
    set student_number = #{studentNumber,jdbcType=INTEGER},
      student_name = #{studentName,jdbcType=VARCHAR},
      student_gender = #{studentGender,jdbcType=VARCHAR},
      student_tel = #{studentTel,jdbcType=VARCHAR},
      student_age = #{studentAge,jdbcType=VARCHAR},
      student_qq = #{studentQq,jdbcType=VARCHAR},
      student_wechat = #{studentWechat,jdbcType=VARCHAR},
      student_major = #{studentMajor,jdbcType=VARCHAR},
      student_department = #{studentDepartment,jdbcType=VARCHAR},
      student_user_id = #{studentUserId,jdbcType=INTEGER}
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select student_id, student_number, student_name, student_gender, student_tel, student_age,
    student_qq, student_wechat, student_major, student_department, student_user_id
    from tb_student
    where student_id = #{studentId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select student_id, student_number, student_name, student_gender, student_tel, student_age,
    student_qq, student_wechat, student_major, student_department, student_user_id
    from tb_student
    where student_user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select student_id, student_number, student_name, student_gender, student_tel, student_age,
    student_qq, student_wechat, student_major, student_department, student_user_id
    from tb_student
  </select>
</mapper>